GROQ_API_KEY=sua_chave_aqui
PEXELS_API_KEY=sua_chave_aqui
PIXABAY_API_KEY=sua_chave_aqui
ELEVENLABS_API_KEY=sua_chave_aqui
OPENAI_API_KEY=sua_chave_aqui
LEONARDO_API_KEY=sua_chave_aqui
ELEVENLABS_VOICE_ID=pNInz6obpgDQGcFmaJcg
OPENAI_VOICE=echo
YOUTUBE_CLIENT_SECRET_FILE=client_secret.json
OLLAMA_MODEL=llama3.2
